body {
    /* escribí las reglas para el body aquí */
    background-image: url('https://images3.alphacoders.com/621/621682.jpg');
    
    
      background-size: cover;
    
    }
    
    h1 {
    /* escribí las reglas para el h1 aquí */
    background-color: rgba(0, 0, 0, 0.8);
    
    color:#f4e033;
    }
    
    h2 {
    /* escribí las reglas para el h2 aquí */
    background-color: orange;
    color:white;
    opacity:  0.4;
    }